<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.forgetoday.radio"
      android:versionCode="8" android:versionName="1.0.3">
    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <supports-screens android:normalScreens="true" android:smallScreens="true" android:largeScreens="false"></supports-screens>
    
    
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="RadioApp">
        <activity android:label="@string/about" android:name="AboutActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name="ListenActivity" android:screenOrientation="portrait" android:label="@string/app_name" android:launchMode="singleTop" android:clearTaskOnLaunch="false"><intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter></activity>
        <receiver android:name="MediaIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"></action>
                <action android:name="android.intent.action.MEDIA_BUTTON"></action>
            </intent-filter>
        </receiver>
        <service android:label="@string/app_name" android:name="MediaService"></service>
        <activity android:name="CatchupActivity" android:label="@string/catchup" android:screenOrientation="portrait"></activity>
        <activity android:name="CatchupListenActivity" android:label="@string/catchup" android:screenOrientation="portrait"></activity>
        <activity android:name="ScheduleActivity" android:label="@string/schedule" android:screenOrientation="portrait"></activity>
    </application>
</manifest>